<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragment/common::head}"></th:block>
    <title th:text="#{page.login.title}">Login</title>
    <link rel="stylesheet" th:href="@{/css/auth/register-form.css}"/>
    <link rel="stylesheet" th:href="@{/css/auth/header-auth.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/auth/login-form.css}"/>
    <!--brands logos-->
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.6/css/all.css}">
</head>

<body class="body-auth">

<header th:replace="~{fragment/common::header}"></header>

<div class="auth-box">
    <div class="register-form-title"
         th:text="#{form.login.title}">{Login}
    </div>
    <form id="registration-form"
          th:action="${loginProcessingUrl}"
          th:method="post">

        <div class="user-box">
            <input id="username"
                   name="username"
                   type="text" required="yes" autocomplete="off"
                   th:value="${username}"/>
            <label th:text="#{form.login.username}">{username}</label>
        </div>

        <div class="user-box user-box-icon">
            <input id="password"
                   name="password"
                   type="password" required=""
                   th:value="${password}"/>
            <i id="password-eye" class="fa-regular fa-eye material-icon"></i>
            <label th:text="#{form.login.password}">{password}</label>
        </div>

        <p th:if="${bad_credentials}"
           class="errors alert alert-danger p-1"
           th:text="#{constraint.username.password.combination}">
            {wrong username or password}
        </p>

        <div class="custom-checkbox-wrapper pl-0">
            <input id="remember-me" name="remember-me-parameter"
                   type="checkbox" class="custom-checkbox-input"/>

            <label for="remember-me" class="custom-checkbox-label"
                   th:text="#{form.remember.me}">
                {remember me}
            </label>
        </div>

        <div>
            <button class="w-50" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <th:block th:text="#{form.login.btn}">{Login}</th:block>
            </button>
        </div>
    </form>
</div>

<script th:src="@{/js/jquery/jquery.js}"></script>
<script th:src="@{/js/auth/toggle-password-eye.js}"></script>

</body>

</html>
