<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragment/common::head}"></th:block>
    <title th:text="#{page.register.title}">{Register}</title>
    <link rel="stylesheet" th:href="@{/css/auth/reg-success.css}"/>
</head>

<body class="body-auth-success">

<header th:replace="~{fragment/common::header}"></header>

<div class="container-index rounded mt-4">
    <h3 class="fw-bolder text-center">
        <a class="reg-success-link fw-bolder"
           th:href="@{/}"
           th:text="#{reg.success.complete}"

        >{Registration Complete}</a>
    </h3>

    <hr class="my-3 bg-white w-80"/>

    <div class="fs-3 fw-bolder" th:text="#{reg.success.thanks} + '.'">
        Thank you for registering to Blackjack
    </div>
    <div class="fs-5 mb-2" th:text="#{reg.success.account.created} + '.'">
        Your account has been created
    </div>
    <div class="fs-5 mb-2">
        <span th:text="#{reg.success.email.sent}">
            Blackjack requires account activation prior to using your account. An activation link has been sent to your email at
        </span>
        <span class="reg-success-email" th:if="${email}" th:text="${email}">EMAIL</span>
        <span class="reg-success-email" th:unless="${email}" th:text="'your email'">EMAIL</span>.
        <span th:text="#{reg.success.please.check} + '.'">Please check your email for further information</span>
    </div>
    <div class="fs-5 mb-2" th:text="#{reg.success.spam.warn} + '.'">
        Some email providers incorrectly mark our email as spam. Please check your spam folder if the email des not
        arrive in your inbox
    </div>

    <hr class="my-3 bg-white w-80"/>

    <h3 class="fw-bolder text-center">
        <span class="info-msg" th:text="#{reg.success.back.to}">{Back to}</span>
        <a class="reg-success-link fw-bolder" th:href="@{/}" th:text="#{reg.success.lobby}">Lobby</a>
    </h3>
</div>

<script th:src="@{/js/jquery/jquery.js}"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap5.min.css}"/>

<footer th:replace="~{fragment/common::footer}"></footer>
</body>

</html>
