<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragment/common::head}"></th:block>
    <title th:text="#{page.register.title}">{Register}</title>

    <link rel="stylesheet" th:href="@{/css/auth/register-form.css}"/>
    <link rel="stylesheet" th:href="@{/css/auth/datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/auth/ajax-datepicker.css}"/>
</head>

<body class="body-auth">

<header th:replace="~{fragment/common::header}"></header>

<div class="auth-box">
    <div class="register-form-title"
         th:text="#{form.reg.title}">
        {Register}
    </div>
    <form id="registration-form"
          th:action="@{/auth/register}"
          th:method="post"
          th:object="${userRegistrationDTO}">

        <div class="user-box">
            <input type="text" name="" required="yes" autocomplete="off"
                   th:field="*{username}"
                   th:errorclass="'is-invalid'"/>
            <label th:text="#{form.reg.username}">{Username}</label>
            <span class="invalid-feedback alert alert-danger fs-6 p-1">
                <span th:if="${#fields.errors('username').size() > 0}"
                      th:text="${#fields.errors('username').get(0)}"></span>
            </span>
        </div>

        <div class="user-box">
            <input type="text" name="" required="" autocomplete="off"
                   th:field="*{firstName}"
                   th:errorclass="'is-invalid'"/>
            <label th:text="#{form.reg.first.name}">{First Name}</label>
            <span class="invalid-feedback alert alert-danger fs-6 p-1">
                <span th:if="${#fields.errors('firstName').size() > 0}"
                      th:text="${#fields.errors('firstName').get(0)}"></span>
            </span>
        </div>

        <div class="user-box">
            <input type="text" name="" required="" autocomplete="off"
                   th:field="*{lastName}"
                   th:errorclass="'is-invalid'"/>
            <label th:text="#{form.reg.last.name}">{Last Name}</label>
            <span class="invalid-feedback alert alert-danger fs-6 p-1">
                <span th:if="${#fields.errors('lastName').size() > 0}"
                      th:text="${#fields.errors('lastName').get(0)}"></span>
            </span>
        </div>

        <div class="user-box">
            <input class="pick-date"
                   type="text" name="" required="" autocomplete="off"
                   th:field="*{birthDate}"
                   th:errorclass="'is-invalid'"/>
            <label th:text="#{form.reg.birth.date}">{Birth Date ("dd/MM/yyyy")}</label>
            <span class="invalid-feedback alert alert-danger fs-6 p-1">
                <span th:if="${#fields.errors('birthDate').size() > 0}"
                      th:text="${#fields.errors('birthDate').get(0)}"></span>
            </span>
            <i id="calendar" class="fa-regular fa-calendar-days material-icon"></i>
        </div>

        <div class="user-box">
            <input type="text" name="" required="" autocomplete="off"
                   th:field="*{email}"
                   th:errorclass="'is-invalid'">
            <label th:text="#{form.reg.email}">{Email}</label>
            <span class="invalid-feedback alert alert-danger fs-6 p-1">
                <span th:if="${#fields.errors('email').size() > 0}"
                      th:text="${#fields.errors('email').get(0)}"></span>
            </span>
        </div>

        <div class="user-box user-box-icon">
            <input id="password"
                   type="password" name="" required=""
                   th:field="*{password}"
                   th:errorclass="'is-invalid'"/>
            <i id="password-eye" class="fa-regular fa-eye material-icon"></i>
            <label th:text="#{form.reg.password}">{Password}</label>
            <span class="invalid-feedback alert alert-danger fs-6 p-1">
                <span th:if="${#fields.errors('password').size() > 0}"
                      th:text="${#fields.errors('password').get(0)}"></span>
            </span>
        </div>

        <div class="user-box">
            <input id="confirm-password"
                   type="password" name="" required=""
                   th:field="*{confirmPassword}"
                   th:errorclass="'is-invalid'"/>
            <label th:text="#{form.reg.conf.password}">{Confirm Password}</label>
            <i id="confirm-password-eye" class="fa-regular fa-eye material-icon"></i>
            <span class="invalid-feedback alert alert-danger fs-6 p-1">
                <span th:if="${#fields.errors('confirmPassword').size() > 0}"
                      th:text="${#fields.errors('confirmPassword').get(0)}"></span>
            </span>
        </div>

        <div class="recaptcha">
            <button class="g-recaptcha w-50" type="submit"
                    th:attr="data-sitekey=${@recaptchaConfig.getSite()}"
                    data-callback='onSubmit'
                    data-action='submit'>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <th:block th:text="#{form.reg.btn}">{Register}</th:block>
            </button>
        </div>
    </form>
</div>

<script th:src="@{/js/jquery/jquery.js}"></script>

<script th:src="@{/js/auth/datepicker.js}"></script>
<script th:src="@{/js/auth/datepicker-place.js}"></script>

<script th:src="@{/js/auth/toggle-password-eye.js}"></script>
<script th:src="@{/js/auth/recaptcha.js}"></script>

<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap5.min.css}"/>

<script>
    function onSubmit(token) {
        document.getElementById("registration-form").submit();
    }
</script>

</body>

</html>
