<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragment/common::head}"></th:block>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/auth/register-form.css}"/>
    <link rel="stylesheet" th:href="@{/css/auth/datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/auth/ajax-datepicker.css}"/>
</head>

<body class="body-auth">

<header th:replace="~{fragment/common::header}"></header>

<div class="auth-box">
    <div class="register-form-title">Register</div>
    <form id="registration-form"
          th:action="@{/auth/register}"
          th:method="post"
          th:object="${userRegistrationDTO}">

        <div class="user-box">
            <input type="text" name="" required="yes" autocomplete="off"
                   th:field="*{username}"
                   th:errorclass="'is-invalid'"/>
            <label>Username</label>
            <span class="invalid-feedback">
                <span th:if="${#fields.errors('username').size() > 0}"
                      th:text="${#fields.errors('username').get(0)}"></span>
            </span>
        </div>

        <div class="user-box">
            <input type="text" name="" required="" autocomplete="off"
                   th:field="*{firstName}"
                   th:errorclass="'is-invalid'"/>
            <label>First Name</label>
            <span class="invalid-feedback">
                <span th:if="${#fields.errors('firstName').size() > 0}"
                      th:text="${#fields.errors('firstName').get(0)}"></span>
            </span>
        </div>

        <div class="user-box">
            <input type="text" name="" required="" autocomplete="off"
                   th:field="*{lastName}"
                   th:errorclass="'is-invalid'"/>
            <label>Last Name</label>
            <span class="invalid-feedback">
                <span th:if="${#fields.errors('lastName').size() > 0}"
                      th:text="${#fields.errors('lastName').get(0)}"></span>
            </span>
        </div>

        <div class="user-box">
            <input class="pick-date"
                   type="text" name="" required="" autocomplete="off"
                   th:field="*{birthDate}"
                   th:errorclass="'is-invalid'"/>
            <label>Birth Date ("dd/MM/yyyy")</label>
            <span class="invalid-feedback">
                <span th:if="${#fields.errors('birthDate').size() > 0}"
                      th:text="${#fields.errors('birthDate').get(0)}"></span>
            </span>
            <span id="calendar"
                  class="material-symbols-outlined material-icon">calendar_month</span>
        </div>

        <div class="user-box">
            <input type="text" name="" required="" autocomplete="off"
                   th:field="*{email}"
                   th:errorclass="'is-invalid'">
            <label>Email</label>
            <span class="invalid-feedback">
                <span th:if="${#fields.errors('email').size() > 0}"
                      th:text="${#fields.errors('email').get(0)}"></span>
            </span>
        </div>

        <div class="user-box user-box-icon">
            <input id="password"
                   type="password" name="" required=""
                   th:field="*{password}"
                   th:errorclass="'is-invalid'"/>
            <span id="password-eye"
                  class="material-symbols-outlined material-icon">visibility</span>
            <label>Password</label>
            <span class="invalid-feedback">
                <span th:if="${#fields.errors('password').size() > 0}"
                      th:text="${#fields.errors('password').get(0)}"></span>
            </span>
        </div>

        <div class="user-box">
            <input id="confirm-password"
                   type="password" name="" required=""
                   th:field="*{confirmPassword}"
                   th:errorclass="'is-invalid'"/>
            <label>Confirm Password</label>
            <span id="confirm-password-eye"
                  class="material-symbols-outlined material-icon">visibility</span>
            <span class="invalid-feedback">
                <span th:if="${#fields.errors('confirmPassword').size() > 0}"
                      th:text="${#fields.errors('confirmPassword').get(0)}"></span>
            </span>
        </div>

        <div>
            <button class="g-recaptcha" type="submit"
                    th:attr="data-sitekey=${@recaptchaConfig.getSite()}"
                    data-callback='onSubmit'
                    data-action='submit'>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Register
            </button>
        </div>
    </form>
</div>

<script th:src="@{/js/jquery/jquery.js}"></script>

<script th:src="@{/js/auth/datepicker.js}"></script>
<script th:src="@{/js/auth/datepicker-place.js}"></script>

<script th:src="@{/js/auth/toggle-password-eye.js}"></script>
<script th:src="@{/js/auth/recaptcha.js}"></script>

<script>
    function onSubmit(token) {
        document.getElementById("registration-form").submit();
    }
</script>

</body>

</html>
