<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.credit.card.deposit.title}">Deposit</title>
    <link th:href="@{/css/credit_card/cloudflare-ajax-mayer-reset.css}" rel="stylesheet">
    <link th:href="@{/css/credit_card/credit-card.css}" rel="stylesheet">
    <th:block th:insert="~{fragment/common::head}"></th:block>
</head>
<body>

<header th:replace="~{fragment/common::navbar}"></header>

<div class="wrapper" id="app">
    <div id="deposit-form" class="card-form col-6 mt-5">

        <!-- Modal successful deposit-->
        <div class="successful-modal m-auto mb-3 rounded-3 animated fade-out"
             th:if="${modalSucDep}">
            <div class="p-4">
                <div class="">
                    <h4 class="text-center m-auto fs-3"
                        th:text="#{modal.successful.deposit}">Successful deposit</h4>
                </div>
            </div>
        </div>

        <div class="card-form__inner_deposit">
            <form th:action="@{/credit-card/deposit}"
                  th:method="post"
                  th:object="${depositDTO}">

                <div class="card-input fw-bolder fw-bolder fs-3"
                     th:text="#{cc.dep.form.cd.card}">
                    Credit / Debit card
                </div>

                <div class="card-input"
                     th:text="#{cc.dep.form.hint}">
                    Make a deposit from an already used card or make a new one
                </div>

                <div class="card-input">
                    <select th:field="*{cardNumber}"
                            th:errorclass="'is-invalid'"
                            id="select-card" class="card-input__input">
                        <option hidden readonly selected value=""
                                th:text="#{cc.dep.form.select}">
                            Select Card
                        </option>
                        <option th:each="c: ${registered_credit_cards}"
                                th:value="${c.getCardNumber()}"
                                th:text="${c.getCardNumberPartlyHidden()} +
                                ' (' + ${c.getTypeDisplay()} + ' | ' + #{cc.dep.form.expired} + ': ' + ${c.getValidThru()} + ')'">
                            1234 **** **** **** (VISA | Expired: 12/2048)
                        </option>
                    </select>
                    <span class="invalid-feedback alert alert-danger fs-6 p-1">
                        <span th:if="${#fields.errors('cardNumber').size() > 0}"
                              th:text="${#fields.errors('cardNumber').get(0)}">

                        </span>
                    </span>
                </div>

                <p th:if="${no_owner}" class="errors alert alert-danger p-1"
                   th:text="#{constraint.dep.no.owner}">
                    invalid card (no owner)
                </p>

                <div id="reg-card-add" class="card-input">
                    <a class="btn btn-outline-secondary w-100 dash add-btn" th:href="@{/credit-card/register}">
                        <span class="fw-bolder orange">
                           +
                       </span>
                        <span class="orange fw-bolder" th:text="#{cc.dep.form.add-new}">
                           Add new card
                       </span>
                    </a>
                </div>

                <div class="card-input">
                    <a class="btn btn-outline-primary card-management-btn w-100"
                       th:href="@{/credit-card/manage}"
                       th:text="#{cc.dep.management.btn}">
                        Card management
                    </a>
                </div>

                <div class="card-input">
                    <label for="cvc-deposit">CVC</label>
                    <input type="number" maxlength="3" v-mask="'###'"
                           th:field="*{cvcDeposit}"
                           th:errorclass="'is-invalid'"
                           id="cvc-deposit"
                           class="card-input__input"/>
                    <span class="invalid-feedback alert alert-danger fs-6 p-1">
                            <span th:if="${#fields.errors('cvcDeposit').size() > 0}"
                                  th:text="${#fields.errors('cvcDeposit').get(0)}">
                            </span>
                        </span>
                </div>

                <div class="card-input">
                    <label for="deposit-sum" th:text="#{cc.dep.form.dep-sum}">Deposit sum</label>
                    <input type="text" pattern="[0-9.,]+" required data-type="number"
                           th:field="*{depositSum}"
                           th:errorclass="'is-invalid'"
                           id="deposit-sum"
                           class="card-input__input"
                           th:placeholder="#{cc.dep.form.dep-sum.placeholder.min} + ' 10.00 ' +
                           #{cc.dep.form.currency.type} + ' ' + #{cc.dep.form.dep-sum.placeholder.max} +
                           ' 10,000.00 ' + #{cc.dep.form.currency.type}"/>
                    <span class="invalid-feedback alert alert-danger fs-6 p-1">
                        <span th:if="${#fields.errors('depositSum').size() > 0}"
                              th:text="${#fields.errors('depositSum').get(0)}">
                        </span>
                    </span>
                </div>

                <button class="card-form__button" th:text="#{cc.dep.form.dep.btn}">
                    Deposit
                </button>

            </form>

        </div>
    </div>
</div>

<script th:src="@{/js/jquery/jquery.js}"></script>
<script th:src="@{/js/credit_card/cloudflare-ajax-vue.js}"></script>
<script th:src="@{/js/credit_card/unpkg-vue-the-mask.js}"></script>

<!--<script th:src="@{/js/credit_card/credit-card-original.js}"></script>-->
<script th:inline="javascript">
    document.querySelector('#deposit-sum').addEventListener('input', function (e) {
        const parts = e.target.value.split('.');
        const value = parts[0].replace(/\D/g, '');
        const decimal = parts[1];

        let newValue = new Intl.NumberFormat('en-EN').format(value);

        // prevent non-numeric decimal
        if (!isNaN(decimal)) {
            newValue = `${newValue}.${decimal}`;
        }

        // prevent placing 0 when empty
        e.target.value = value === '' && newValue === '0' ? '' : newValue;
    })
</script>

</body>
</html>
