:root {
    --primary: #639c9c;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --weather-box-border-color: #4e555b;
}

.container-header {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    font-weight: bold;
    border: 4px solid var(--weather-box-border-color);
    z-index: 2;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

span.nav-icon {
    font-size: 36px;
    color: indianred;
}

a.nav-link {
    color: whitesmoke !important;
    float: left;
    font-size: 1.25rem;
    font-weight: bolder;
}


a.nav-link:hover, .btn-logout:hover {
    color: indianred !important;
}

ul.navbar-nav {
    float: right;
}

.logout-container{
    font-weight: bolder;
    font-size: larger;
}

.btn-logout {
    font-size: large;
    font-weight: bolder;
    color: whitesmoke;
    text-align: center;
}

.login-greeter{
    color: indianred;
}

.nav-link:hover{
    text-decoration: none;
}