<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap5.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment/header.css}"/>
    <!--https://developers.google.com/fonts/docs/material_symbols-->
    <!--https://fonts.google.com/icons-->
    <link rel="stylesheet" th:href="@{/css/bootstrap/google-icons.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
</head>


<body>

<header th:fragment="navbar" class="container-header p-0 mb-5">

    <div class="container-header-left">
        <a class="nav-link active mb-0" th:href="@{/}">
            <span class="material-symbols-outlined nav-icon align-middle">casino</span>
            <span class="nav-func align-middle">Lobby</span>
        </a>

        <a class="nav-link active mb-0" th:href="@{/}">
            <span class="material-symbols-outlined nav-icon align-middle">credit_card</span>
            <span class="nav-func align-middle">Deposit</span>
        </a>

        <a class="nav-link active mb-0" th:href="@{/}">
            <span class="material-symbols-outlined nav-icon align-middle">savings</span>
            <span class="nav-func align-middle">Cash out</span>
        </a>
    </div>

    <div class="container-header-right">


        <div sec:authorize="isAuthenticated()"
             class="d-flex align-items-center logout-container">
            <div class="d-inline-block login-greeter">
                <th:block>Welcome,</th:block>
                <th:block sec:authentication="name">{name}</th:block>!
            </div>
            <form th:action="@{/auth/logout}"
                  th:method="post"
                  class="d-inline-block btn-logout">
                <button class="btn-logout btn btn-link nav-link align-middle active" type="submit">Logout</button>
            </form>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <a class="nav-link active align-middle" th:href="@{/auth/login}">Login</a>

            <a class="nav-link active align-middle" th:href="@{/auth/register}">Register</a>
        </div>
    </div>

</header>

<footer th:fragment="footer" class="container-footer text-center col-12">

    <div class="mb-2">
        <span>
            Blackjack was introduced into the casino in the 20th century and has become one of the most popular
            casino games.
        </span>
        <span class="d-block">
            The rules of Blackjack can vary from casino to casino - if in doubt, use the casino's house rules.
        </span>
        <span>
            Learn more about

            <a th:href="@{/}" class="text-link">THE RULES</a> of this particular blackjack game
        </span>
        <span>.</span>
    </div>

    <div class="mb-1">

        <a class="icon-link text-white m-3" th:href="@{/}">
            <i class="fab fa-github"></i>
        </a>

        <a class="icon-link text-white m-3" th:href="@{/}">
            <i class="fab fa-linkedin-in"></i>
        </a>

        <a class="icon-link text-white m-3" th:href="@{/}">
            <i class="fab fa-instagram"></i>
        </a>

    </div>

    <div class="text-center">© 2024 Blackjack Spring Boot Project</div>

    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.6/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}"/>
</footer>

</body>

</html>