<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Forbidden</title>
    <th:block th:insert="~{fragment/common::head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/error/error.css}"/>
</head>

<header th:replace="~{fragment/common::navbar}"></header>

<div th:replace="~{error/parametrized-err
                                :: formField(errTitle='err.code.404.title', errMsg='err.code.404.msg', code='404')}">
</div>

</html>