<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragment/common::head}"></th:block>
    <title th:text="#{page.index.title}">Blackjack</title>
    <script defer th:src="@{/js/weather/weather.js}"></script>
    <link rel="stylesheet" th:href="@{/css/index/index.css}"/>
</head>

<body class="body-index">

<header th:replace="~{fragment/common::navbar}"></header>

<main>
    <div>
        <div class="container-index rounded mt-4">
            <span class="welcome-msg"
                  th:text="#{index.welcome}">Welcome to BLACKJACK</span>

            <hr class="my-3 bg-white w-80"/>

            <span class="intro-msg" th:if="${username}"
                  th:text="#{index.after.activate.account.greeter}">Welcome,</span>
            <span class="intro-msg color-indianred" th:if="${username}" th:text="${username} + '. '">username</span>
            <span class="intro-msg"
                  th:text="#{index.intro}">
                Enjoy the most widely played casino banking game in the world.
            </span>

            <hr class="my-3 bg-white w-80"/>

            <h3>
                <a class="index-text-link fw-bolder"
                   th:text="#{index.login}"
                   th:href="@{/auth/login}">Login</a>
                <span class="info-msg"
                      th:text="#{index.account}">if you have an account or</span>
                <a class="index-text-link fw-bolder"
                   th:text="#{index.register}"
                   th:href="@{/auth/register}">Register</a>
                <span class="info-msg"
                      th:text="#{index.play}">now and play.</span>
            </h3>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-0 col-md-1 col-lg-2"></div>

                <div class="weather-box col-sm-5 col-md-4 col-lg-3">
                    <span class="weather-msg"
                          th:text="#{index.weather}">Weather in</span>
                    <span class="city-msg"
                          th:text="#{index.sofia}">Sofia</span>
                    <span class="celsius-msg">
                        <span id="box-a-temp">{0}</span>
                        <span>&#8451;</span>
                    </span>
                    <img id="box-a-img" th:src="@{/images/weather/sun.png}" height="150px" alt="sunny" src="">
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2"></div>

                <div class="weather-box col-sm-5 col-md-4 col-lg-3">

                    <span class="weather-msg"
                          th:text="#{index.weather}">Weather in</span>
                    <span class="city-msg"
                          th:text="#{index.vegas}">Las Vegas</span>

                    <span class="celsius-msg">
                        <span id="box-b-temp">{0}</span>
                        <span>&#8451;</span>
                    </span>
                    <img id="box-b-img" th:src="@{/images/weather/cloudy.png}" height="150px" alt="cloudy" src="">
                </div>

                <div class="col-sm-0 col-md-1 col-lg-2"></div>

            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragment/common::footer}"></footer>

</body>

</html>