:root {
    --linkedin: #0d64c4;
    --facebook: #0d64c4;
}

/* login form below */

.auth-box div.custom-checkbox-wrapper {
    text-align: left;
}

.custom-checkbox-input, .custom-checkbox-label {
    cursor: pointer;
}

.custom-checkbox-input {
    width: 0.6em;
    height: 0.6em;
}

.custom-checkbox-label {
    font-size: 0.6em;
    position: relative;
    top: -1px
}

.custom-checkbox-input {
    accent-color: var(--electric);
}

.custom-checkbox-input:checked {
    box-shadow: 0 0 5px var(--electric);
}

/* reset password form below */

.reset-password-btn, .remembered-password-btn {
    text-decoration: none;
    color: whitesmoke;
}

.reset-password-btn:hover, .remembered-password-btn:hover {
    text-decoration: underline;
    color: var(--electric);
    text-shadow: 0 0 24px var(--electric);
    cursor: pointer;
}


