:root {
    --linkedin: #0d64c4;
}


.auth-box div.custom-checkbox-wrapper {
    text-align: left;
}

.custom-checkbox-input, .custom-checkbox-label {
    cursor: pointer;
}

.custom-checkbox-input {
    width: 0.6em;
    height: 0.6em;
}

.custom-checkbox-label {
    font-size: 0.6em;
    position: relative;
    top: -1px
}


.custom-checkbox-input {
    accent-color: var(--electric);

}

.custom-checkbox-input:checked {
    box-shadow: 0 0 5px var(--electric);
}

.oauth-btn a {
    border-color: var(--electric);
    color: whitesmoke;
}

.fab {
    font-size: 2.2em;
}

.fa-github {
    color: lightgrey;
}

.fa-linkedin {
    color: var(--linkedin);
}

.oauth-btn-label {
    position: relative;
    top: -0.4em;
    font-weight: bold;
}

.oauth-btn a:hover {
    border-color: var(--electric);
    color: whitesmoke;
    background-color: var(--electric);
    box-shadow: 0 0 5px var(--electric),
    0 0 6px var(--electric),
    0 0 12px var(--electric),
    0 0 24px var(--electric);

}

.oauth-btn-label:hover {
    box-shadow: 0 0 5px var(--electric);
}

/*.btn-outline-primary:hover {*/
/*    background-color: var(--electric);*/
/*    border-color: var(--electric);*/
/*    color: whitesmoke;*/
/*}*/

/*.btn-outline-primary:hover .fab {*/
/*    color: whitesmoke;*/
/*}*/

